# Lecture 14 Notes

The plan:
1. set up imports
2. load the data
3. split into training and testing data
4. define the different hyperparameter values
5. loop over combinations of hyperparameters, train model, and evaluate accuracy

In [12]:
# set up imports
from sklearn.datasets import load_digits
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
# load the data
digits = load_digits()

X = digits.data
y = digits.target

X.shape, y.shape

((1797, 64), (1797,))

In [3]:
# do the train test split (75% of data for training)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

y_train

array([5, 2, 0, ..., 2, 7, 1], shape=(1347,))

In [8]:
# define hyperparameter values to test
max_samples = [0.25, 0.5, 0.75, 0.99, 1]
max_features = [0.25, 0.5, 0.75, 0.99, 1]

In [ ]:
results = []

for max_s in max_samples:
    for max_f in max_features:
        # create a random forest classifier with these parameters
        rf_clf = RandomForestClassifier(max_samples=max_s, max_features=max_f, random_state=42)

        # fit the model
        rf_clf.fit(X_train, y_train)

        # make predictions
        y_preds = rf_clf.predict(X_test)

        # evaluate accuracy
        acc = accuracy_score(y_test, y_preds)

        results.append({
            'max features': max_f,
            'max samples': max_s,
            'accuracy': acc,
        })

result_df = pd.DataFrame(results)
result_df

    max features  max samples  accuracy
0           0.25         0.25  0.962222
1           0.50         0.25  0.964444
2           0.75         0.25  0.957778
3           0.99         0.25  0.960000
4           1.00         0.25  0.953333
5           0.25         0.50  0.975556
6           0.50         0.50  0.968889
7           0.75         0.50  0.968889
8           0.99         0.50  0.964444
9           1.00         0.50  0.962222
10          0.25         0.75  0.977778
11          0.50         0.75  0.975556
12          0.75         0.75  0.966667
13          0.99         0.75  0.951111
14          1.00         0.75  0.968889
15          0.25         0.99  0.973333
16          0.50         0.99  0.977778
17          0.75         0.99  0.966667
18          0.99         0.99  0.955556
19          1.00         0.99  0.964444
20          0.25         1.00  0.102222
21          0.50         1.00  0.102222
22          0.75         1.00  0.102222
23          0.99         1.00  0.102222
24          1.00         1.00  0.102222

In [26]:
# define hyperparameter values to test
n_estimator_list = [5, 10, 50, 100, 200, 1000]
max_depth_list = [2, 4, 6, 8, 10, None]

In [28]:
results = []

for num_estimator in n_estimator_list:
    for max_depth in max_depth_list:
        # create a random forest classifier with these parameters
        rf_clf = RandomForestClassifier(n_estimators=num_estimator, max_depth=max_depth, random_state=42)

        # fit the model
        rf_clf.fit(X_train, y_train)

        # make predictions
        y_preds = rf_clf.predict(X_test)

        # evaluate accuracy
        acc = accuracy_score(y_test, y_preds)

        results.append({
            'num estimators': num_estimator,
            'max depth': max_depth,
            'accuracy': acc,
        })

result_df = pd.DataFrame(results)
result_df

    num estimators  max depth  accuracy
0                5        2.0  0.646667
1                5        4.0  0.815556
2                5        6.0  0.895556
3                5        8.0  0.922222
4                5       10.0  0.913333
5                5        NaN  0.931111
6               10        2.0  0.726667
7               10        4.0  0.884444
8               10        6.0  0.924444
9               10        8.0  0.955556
10              10       10.0  0.957778
11              10        NaN  0.964444
12              50        2.0  0.851111
13              50        4.0  0.933333
14              50        6.0  0.955556
15              50        8.0  0.975556
16              50       10.0  0.975556
17              50        NaN  0.971111
18             100        2.0  0.842222
19             100        4.0  0.937778
20             100        6.0  0.955556
21             100        8.0  0.966667
22             100       10.0  0.973333
23             100        NaN  0.971111
24             200        2.0  0.864444
25             200        4.0  0.940000
26             200        6.0  0.964444
27             200        8.0  0.968889
28             200       10.0  0.975556
29             200        NaN  0.973333
30            1000        2.0  0.848889
31            1000        4.0  0.935556
32            1000        6.0  0.966667
33            1000        8.0  0.971111
34            1000       10.0  0.975556
35            1000        NaN  0.975556